BIND_HOST="0.0.0.0"
BIND_PORT=3001
BACKEND_HOST=http://localhost:5001
POST_RULE_ROUTE=/api/v1/core/rule
POST_COMMIT_ROUTE=/api/v1/core/commit
GET_RULES_ROUTE=/api/v1/core/rules
GET_RULE_ROUTE=/api/v1/core/rule
GET_THEORACLE_RULES_ROUTE=/api/v1/theoracle/rules
GET_THEORACLE_RULE_ROUTE=/api/v1/theoracle/rule