<!DOCTYPE html>
<!-- Ignore certain (mostly) false-positive checks -->
<!--suppress JSDeprecatedSymbols, HtmlUnknownTarget, HtmlUnknownTag -->
<html lang="en">
    <head>
        <meta charset="utf-8" name="charset" content="UTF-8">
        <title id="yara-rule-designer-title">YARA Rule Designer: No rule loaded</title>
        <meta name="author" content="Aleksander Berge Kjellsen">
        <meta name="keywords" content="YARA, CERT, SP-CERT, TheHive, Editor, Designer">
        <meta name="description" content="GUI for designing YARA rules from TheHive alerts and cases.">

        <link rel="shortcut icon" href="/<%- SUB_PATH %>static/images/favicon.ico">

        <!-- 3rd party stylesheets.       -->
        <!-- Icon libraries -->
        <link rel="stylesheet" type="text/css" href="/<%- SUB_PATH %>static/fonts/fontawesome-free-5.13.0-web/css/all.css">

        <!-- Dragula - Drag 'n Drop   -->
        <link rel="stylesheet" type="text/css" href="/<%- SUB_PATH %>static/styles/third-party/dragula-3.7.2.css">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="/<%- SUB_PATH %>static/styles/third-party/bootstrap-4.4.1.min.css">

        <!-- 1st party stylesheets (load last to ensure inherited properties from above exist.) -->
        <link rel="stylesheet" type="text/css" href="/<%- SUB_PATH %>static/styles/yara_rule_designer.css">
        <link rel="stylesheet" type="text/css" href="/<%- SUB_PATH %>static/styles/responsive.css">
        <link rel="stylesheet" type="text/css" href="/<%- SUB_PATH %>static/styles/theme.css">
    </head>

    <body>
        <div class="container mh-100 h-100 mw-100 w-100 yara-rule-designer" id="yara-rule-designer-container">
            <div class="row align-items-start">
                <div class="w-100"></div>
                <div id="yara-rule-designer-header" class="col yara-rule-designer">
                    <div id="yara-rule-designer-theme-selector" class="btn-group btn-group-toggle yara-rule-designer">
                        <button id="load-theme-light-button" class="fas fa-sun btn btn-light" title="Toggle Light Mode"></button>
                        <button id="load-theme-dark-button" class="fas fa-moon btn btn-dark" title="Toggle Dark Mode"></button>
                    </div>
                    <div id="yara-rule-designer-header-content">
                        <div id="yara-rule-designer-header-content-spacer-top"></div>
                        <div id="yara-rule-designer-header-content-title"><p>No rule loaded.</p></div>
                        <div id="yara-rule-designer-header-content-title-spacer"></div>
                        <div id="yara-rule-designer-header-content-byline"></div>
                        <div id="yara-rule-designer-header-content-byline-spacer"></div>
                        <div id="yara-rule-designer-header-content-description"></div>
                        <div id="yara-rule-designer-header-content-description-spacer"></div>
                    </div>
                </div>

                <div class="w-100"></div>

                <div id="yara-rule-designer-leftpane-container" class="col-2 yara-rule-designer">
                    <div class="row">
                        <div id="yara-rule-designer-leftpane-container-top">
                            <div class="row m-row" id="yara-rule-designer-buttons">
                                <button id="load-rule-button" class="col yara-rule-designer-leftpane-buttons" title="Open YARA rule...">
                                    <i class="fas fa-folder-open fa-lg"></i><br><p>Open Rule</p>
                                </button>
                                <button id="load-observables-button" class="col yara-rule-designer-leftpane-buttons" title="Import observables from database...">
                                    <i class="fas fa-file-import fa-lg"></i><br><p>Import Observables</p>
                                </button>
                                <button id="edit-settings-button" class="col yara-rule-designer-leftpane-buttons" title="Edit settings...">
                                    <i class="fas fa-cog fa-lg"></i><br><p>Edit Settings</p>
                                </button>
                                <button id="show-help-button" class="col yara-rule-designer-leftpane-buttons" title="Info">
                                    <i class="fas fa-question fa-lg"></i><br><p>Display Help</p>
                                </button>
                                <button id="share-button" class="col yara-rule-designer-leftpane-buttons" title="Share current rule state (experimental!)">
                                    <i class="fas fa-share fa-lg"></i><br><p>Share (beta)</p>
                                </button>
                                <div class="w-100"></div>
                                <button id="add-yara-string-button" class="col add-element-buttons" title="Add custom YARA String...">
                                    <i id="add-yara-string-button-i" class="fas fa-plus fa-lg"><span id="add-yara-string-button-i-text">&nbsp;&nbsp;String</span></i>
                                </button>
                                <button id="add-numeric-element-button" class="col add-element-buttons" title="Add number...">
                                    <i class="fas fa-plus fa-lg"><span id="add-numeric-element-button-i-text">&nbsp;0-9</span></i>
                                </button>
                                <div class="w-100"></div>
                                <button id="submit-rule-button" class="col" title="Submit">
                                    <h4><span id="submit-rule-button-i-text">Submit&nbsp;</span><i class="fas fa-arrow-right"></i></h4>
                                </button>
                            </div>
                        </div>

                        <div id="yara-rule-designer-leftpane-container-bottom">
                            <div class="row m-row" id="yara-rule-designer-collapsibles">
                                <button type="button" class="button-collapsible-tags" data-toggle="collapse"
                                        data-target="#yara-rule-designer-tags-collapsible" aria-expanded="true"
                                        aria-controls="yara-rule-designer-tags-collapsible">
                                    Tags
                                </button>
                                <div class="collapse show" id="yara-rule-designer-tags-collapsible">
                                    <div id="yara-rule-designer-tags" class="yara-rule-designer left-navbar-collapsibles-content"></div>
                                    <button id="add-tags-button" class="yara-rule-designer yara-rule-designer-leftpane-buttons">
                                        <i class="fas fa-plus fa-sm"> Add Tag</i>
                                    </button>
                                </div>

                                <div class="w-100"></div>
                                <button type="button" class="button-collapsible-operators" data-toggle="collapse"
                                        data-target="#yara-rule-designer-operators-collapsible" aria-expanded="true"
                                        aria-controls="yara-rule-designer-operators-collapsible">
                                    Conditional Operators
                                </button>
                                <div class="collapse show" id="yara-rule-designer-operators-collapsible">
                                    <div class="yara-rule-designer left-navbar-collapsibles-content" id="yara-rule-designer-operators">
                                        <!--    Add conditional keywords-->
                                        <!--    Boolean-->
                                        <span id="condition-keyword-and" class="condition-keyword">AND</span>
                                        <span id="condition-keyword-or" class="condition-keyword">OR</span>
                                        <span id="condition-keyword-not" class="condition-keyword">NOT</span>
                                        <!--    Arithmetic-->
                                        <span id="condition-keyword-equal" class="condition-keyword">==</span>
                                        <span id="condition-keyword-lt" class="condition-keyword"><</span>
                                        <span id="condition-keyword-gt" class="condition-keyword">></span>
                                        <span id="condition-keyword-leq" class="condition-keyword"><=</span>
                                        <span id="condition-keyword-geq" class="condition-keyword">>=</span>
                                        <span id="condition-keyword-neq" class="condition-keyword">!=</span>
                                        <span id="condition-keyword-count" class="condition-keyword">#</span>
                                        <!--    Relational-->
                                        <span id="condition-keyword-add" class="condition-keyword">+</span>
                                        <span id="condition-keyword-sub" class="condition-keyword">-</span>
                                        <span id="condition-keyword-mul" class="condition-keyword">*</span>
                                        <span id="condition-keyword-div" class="condition-keyword">/</span>
                                        <span id="condition-keyword-pct" class="condition-keyword">%</span>
                                        <span id="condition-keyword-setminus" class="condition-keyword">\</span>
                                        <!--    Bitwise-->
                                        <span id="condition-keyword-bitwise-and" class="condition-keyword">&</span>
                                        <span id="condition-keyword-bitwise-or" class="condition-keyword">|</span>
                                        <span id="condition-keyword-bitwise-not" class="condition-keyword">~</span>
                                        <span id="condition-keyword-bitwise-xor" class="condition-keyword">^</span>
                                        <span id="condition-keyword-bitwise-lshift" class="condition-keyword"><<</span>
                                        <span id="condition-keyword-bitwise-rshift" class="condition-keyword">>></span>
                                        <!-- Parenthesis and wrappers -->
                                        <span id="condition-keyword-lparen" class="condition-keyword">(</span>
                                        <span id="condition-keyword-rparen" class="condition-keyword">)</span>
                                    </div>
                                </div>

                                <div class="w-100"></div>

                                <button type="button" class="button-collapsible-custom-yara-string-editor-elements" data-toggle="collapse"
                                        data-target="#yara-rule-designer-custom-yara-string-editor-elements-collapsible" aria-expanded="true"
                                        aria-controls="yara-rule-designer-custom-yara-string-editor-elements-collapsible">
                                    User-defined YARA Strings
                                </button>
                                <div class="collapse show" id="yara-rule-designer-custom-yara-string-editor-elements-collapsible">
                                    <div class="yara-rule-designer left-navbar-collapsibles-content" id="yara-rule-designer-custom-yara-string-editor-elements"></div>
                                </div>

                                <div class="w-100"></div>

                                <button type="button" class="button-collapsible-yara-string-editor-element" data-toggle="collapse"
                                        data-target="#yara-rule-designer-yara-string-editor-element-collapsible" aria-expanded="true"
                                        aria-controls="yara-rule-designer-yara-string-editor-element-collapsible">
                                    YARA Strings
                                </button>
                                <div class="collapse show" id="yara-rule-designer-yara-string-editor-element-collapsible">
                                    <div class="yara-rule-designer left-navbar-collapsibles-content" id="yara-rule-designer-yara-string-editor-element"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="yara-rule-designer-editor-container" class="col-10 yara-rule-designer">
                    <div class="row">
                        <div class="container col yara-rule-designer" id="yara-rule-designer-editor"></div>
                    </div>
                    <div id="yara-rule-designer-clear-condition-container" class="yara-rule-designer">
                        <button id="clear-rule-button" class="btn btn-danger" title="Clear editor condition">
                            <i class="fas fa-trash fa-lg"></i>
                        </button>
                    </div>
                </div>

            </div> <!-- Row -->
        </div> <!-- Container -->

        <!-- Pre-define default modals (to be populated by JavaScript later). -->
        <div id="response-modal" class="custom-modal">
            <!-- Modal content -->
            <div class="custom-modal-content">
                <div class="custom-modal-header" id="response-modal-header">
                    <span class="close-custom-modal" id="response-modal-close">&times;</span>
                    <div class="custom-modal-header-content" id="response-modal-header-content"></div>
                </div>
                <div class="custom-modal-body" id="response-modal-body">
                    <div class="custom-modal-body-top" id="response-modal-body-top"></div>
                    <div class="custom-modal-body-middle" id="response-modal-body-middle"></div>
                    <div class="custom-modal-body-bottom" id="response-modal-body-bottom"></div>
                </div>
                <div class="custom-modal-footer" id="response-modal-footer"></div>
            </div>
        </div>

        <div id="confirmation-modal" class="custom-modal">
            <!-- Modal content -->
            <div class="custom-modal-content">
                <div class="custom-modal-header" id="confirmation-modal-header">
                    <span class="close-custom-modal" id="confirmation-modal-close">&times;</span>
                    <div class="custom-modal-header-content" id="confirmation-modal-header-content"></div>
                </div>
                <div class="custom-modal-body" id="confirmation-modal-body">
                    <div class="custom-modal-body-top" id="confirmation-modal-body-top"></div>
                    <div class="custom-modal-body-middle" id="confirmation-modal-body-middle"></div>
                    <div class="custom-modal-body-bottom" id="confirmation-modal-body-bottom"></div>
                </div>
                <div class="custom-modal-footer" id="confirmation-modal-footer"></div>
            </div>
        </div>

        <div id="custom-context-menu"></div>

        <!-- 3rd party scripts.-->
        <!-- JQuery ( required for Bootstrap and $() ). -->
        <script src="/<%- SUB_PATH %>static/scripts/third-party/jquery-3.5.1.min.js"></script>

        <!-- Popper ( required for Bootstrap ). -->
        <script src="/<%- SUB_PATH %>static/scripts/third-party/popper-1.14.6.min.js"></script>

        <!-- Bootstrap -->
        <script src="/<%- SUB_PATH %>static/scripts/third-party/bootstrap-4.4.1.bundle.min.js"></script>

        <!-- Dragula - Drag 'n Drop   -->
        <script src="/<%- SUB_PATH %>static/scripts/third-party/dragula-3.7.2.min.js"></script>

        <!--1st party scripts.        -->
        <!-- JavaScript vars sent in from EJS template engine.       -->
        <!--suppress JSUnusedAssignment, BadExpressionStatementJS -->
        <script>
            const POST_RULE_ROUTE = <%- POST_RULE_ROUTE %>;
            const POST_COMMIT_ROUTE = <%- POST_COMMIT_ROUTE %>;
            const GET_RULES_ROUTE = <%- GET_RULES_ROUTE %>;
            const GET_RULE_ROUTE = <%- GET_RULE_ROUTE %>;
            const GET_THEORACLE_RULES_ROUTE = <%- GET_THEORACLE_RULES_ROUTE %>;
            const GET_THEORACLE_RULE_ROUTE = <%- GET_THEORACLE_RULE_ROUTE %>;
        </script>

        <!-- Theme handler -->
        <script src="/<%- SUB_PATH %>static/scripts/themes.js" type="module"></script>

        <!-- Core Designer script block -->
        <!--Finally load the main script which depends on all of the above modules -->
        <script src="/<%- SUB_PATH %>static/scripts/designer.js" type="module"></script>
    </body>
</html>